h2 {
  text-align: center;
  margin: 0;
}
.wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1080px;
  border-right: solid;
  border-left: solid;
  text-align: center;
}

.area{
  display: inline-block;
  width: 520px;
  height: 750px;
  vertical-align: top;
}

.inputs-area {
  padding-top: 38px;

}

.pic {
  width: 500px;
}

.ta-No {
  resize: none;
  width:70px;
  height:80px;
  font-size: 20px;
  line-height: 75px;
  display: inline-block;
  margin: 0px;
}

.ta-Syareki {
  resize: none;
  width:100px;
  height:30px;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin: 0px;
}

.ta-Haikiryou {
  resize: none;
  width:100px;
  height:30px;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin: 0px;
}

.ta-Katashiki {
  resize: none;
  width:120px;
  height:30px;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin: 0px;
}

.ta-Syodo {
  resize: none;
  width:70px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  margin: 0px;
}

.ta-Syamei {
  resize: none;
  width:100px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  margin: 0px;
}

.ta-Keijou {
  resize: none;
  width:50px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  margin: 0px;
}

.ta-Grade {
  resize: none;
  width:100px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  margin: 0px;
}

.ta-Hyoukaten {
  resize: none;
  width:70px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  margin: 0px;
}

.ta-Naisou {
  resize: none;
  width:70px;
  height:30px;
  font-size: 20px;
  line-height: 25px;
  display: inline-block;
  margin: 0px;
}

.top-left {
  width: 80px;
  display: inline-block;
}


.top-center {
  width: 330px;
  display: flexbox;
  flex-wrap: wrap;
  font-size: 0;
  display: inline-block;
}

.top-right {
  width: 80px;
  display: inline-block;
}




.ta-Syaken {
  resize: none;
  width:200px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Soukou {
  resize: none;
  width:200px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Soukou {
  resize: none;
  width:200px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Gensyoku {
  resize: none;
  width: 60px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Irogae {
  resize: none;
  width: 60px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-ColorNo {
  resize: none;
  width: 80px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Nenryou {
  resize: none;
  width: 130px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Naisousyoku {
  resize: none;
  width: 70px;
  height:25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Nenshiki {
  resize: none;
  width: 60px;
  height: 25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Yunyuukubun {
  resize: none;
  width: 80px;
  height: 25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Handle {
  resize: none;
  width: 60px;
  height: 25px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.ta-Shift {
  resize: none;
  width: 110px;
  height: 30px;
  font-size: 10px;
  line-height: 25px;
  display: inline-block;
  margin: 0px;
}

.ta-Reibou {
  resize: none;
  width: 110px;
  height: 30px;
  font-size: 10px;
  line-height: 25px;
  display: inline-block;
  margin: 0px;
}

.ta-Shinsyaseibitechou {
  resize: none;
  width: 110px;
  height: 35px;
  font-size: 10px;
  line-height: 30px;
  display: inline-block;
  margin: 0px;
}

.ta-Meigihenkoukigen {
  resize: none;
  width: 110px;
  height: 30px;
  font-size: 10px;
  line-height: 25px;
  display: inline-block;
  margin: 0px;
}

.ta-Junseihin {
  resize: none;
  width: 150px;
  height: 35px;
  font-size: 10px;
  line-height: 30px;
  display: inline-block;
  margin: 0px;
}

.ta-Sailspoint {
  resize: none;
  width: 150px;
  height: 90px;
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  margin: 0px;
}

.second-left {
  width: 210px;
  display: flexbox;
  flex-wrap: wrap;
  font-size: 0;
  display: inline-block;
}

.second-center {
  width: 120px;
  display: inline-block;
}

.second-right {
  width: 160px;
  display: inline-block;
}