h2 {
    text-align: center;
}
.wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1080px;
    border-right: solid;
    border-left: solid;
    text-align: center;
}

.area{
    display: inline-block;
    width: 520px;
    height: 750px;
    vertical-align: top;
}


.pic {
    width: 500px;
}

.ta-No {
    resize: none;
  width:70px;
  height:80px;
  font-size: 20px;
  line-height: 75px;
}

.ta-Syareki {
    resize: none;
  width:100px;
  height:30px;
  font-size: 20px;
  line-height: 25px;
}

.ta-Haikiryou {
    resize: none;
  width:100px;
  height:30px;
  font-size: 20px;
  line-height: 25px;
}

.ta-Katashiki {
    resize: none;
  width:120px;
  height:30px;
  font-size: 20px;
  line-height: 25px;
}

.ta-Syodo {
    resize: none;
  width:60px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
}

.ta-Syamei {
    resize: none;
  width:100px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
}

.ta-Keijou {
    resize: none;
  width:40px;
  height:50px;
  font-size: 15px;
  line-height: 45px;
}

.ta-Grade {
    resize: none;
  width:100px;
  height:50px;
  font-size: 20px;
  line-height: 45px;
}