:focus {
  outline: none; 
}

h2 {
  margin: 0;
}

body {
  text-align: center;
}

p { 
  width: 100%;
  font-size: 15px;
  text-align: left;
  margin: 1px;    
}

span {
font-size: 16px;
}

.wrapper {
  width: 1420px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inputs-area {
  display: inline-block;
  width: 800px;
  height: 740px;
  vertical-align: top;
}

.pic-area{
  display: inline-block;
  width: 520px;
  height: 740px;
  vertical-align: top;
  border: solid 2px rgba(0,0,0,0.7);
  position: relative;
  
}

.pic {
  width: 500px;
}



.flame {
  border: solid 1.5px;
}

textarea {
  vertical-align: bottom;
  resize: none;
  border: none;
  background-color: rgba(0,0,0,0);
}

input {
vertical-align: bottom;
resize: none;
border: none;
background-color: rgba(0,0,0,0);
}

.area-part {
margin: 5px;
}

.top {
display: flex;
flex-direction: row;
}

.top-center {
display: flex;
flex-wrap: wrap;
width: 585px;
}

.second {
display: flex;
flex-direction: row;
}

.third {
display: flex;
flex-direction: row;
}

.bottom {
display: flex;
flex-direction: row;
}
.No-flame {
  width: 80px;
  height: 103px;
  position: relative;
}

.ta-No {
  width: 100%;
  height: 55%;
  font-size: 27px;
  margin-bottom: 20%;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.ta-No2 {
width: 100%;
height: 55%;
font-size: 25px;
margin: auto;
position: absolute;
bottom: 0px;
left: 0;
}

.Syareki-flame {
width: 160px;
height: 50px;
text-align: center;
position: relative;
}

.ta-Syareki {
width: 95%;
height: 55%;
font-size: 18px;
margin: auto;
position: absolute;
bottom: 0px;
left: 2;
padding-left: 5px;
}

.Haikiryou-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Haikiryou {
  width: 95%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.Katashiki-flame {
  width: 180px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Katashiki {
  width: 95%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.Syodo-flame {
  display: flex;
  width: 120px;
  height: 50px;
  position: relative;
}

.Syodo-box {
  width: 100%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 0px;
}

.ta-Syodo {
  width: 20%;
  height: 100%;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 2px;
}

.Syamei-flame {
  width: 170px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Syamei {
  width: 95%;
  height: 55%;
  font-size: 14px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.Keijou-flame {
  width: 60px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Keijou {
  width: 95%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 8px;
}

.Grade-flame {
  width: 180px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Grade {
  width: 95%;
  height: 55%;
  font-size: 14px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.Syaken-flame {
  display: flex;
  width: 160px;
  height: 50px;
  position: relative;
}

.Syaken-box {
  width: 100%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 15px;
}

.ta-Syaken {
  width: 25%;
  height: 100%;
  font-size: 18px;
  margin-left: 10px;
}

.Soukou-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Soukou {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Sotoiro-ColorNo {
display: flex;
flex-direction: row;
}

.Sotoiro-flame {
  display: flex;
  width: 280px;
  height: 50px;
  position: relative;
}

.Sotoiro-box {
  width: 100%;
  height: 55%;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.ta-Sotoiro {
  width: 32%;
  height: 100%;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 0px;
}

.ColorNo-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-ColorNo {
  width: 95%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 10px;
}

.Nenyou-Naisousyoku {
display: flex;
flex-direction: row;
}

.Nenryou-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Nenryou {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Naisousyoku-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Naisousyoku {
  width: 95%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 10px;
}

.Nenshiki-Yunyu-Handle {
display: flex;
flex-direction: row;
}

.Nenshiki-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Nenshiki {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Shift-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Shift {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Reibou-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Reibou {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Meigihenkoukigen-flame {
  display: flex;
  width: 120px;
  height: 50px;
  position: relative;
}

.Meigihenkoukigen-box {
  width: 100%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 0px;
}

.ta-Meigihenkoukigen {
width: 20%;
height: 100%;
font-size: 18px;
margin-left: 8px;
margin-right: 2px;
}

.Sailspoint-flame {
  width: 200px;
  height: 156px;
  text-align: center;
  position: relative;
}

.ta-Sailspoint {
  width: 100%;
  height: 80%;
  font-size: 16px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.Recycle-Jousya-Sekisai {
display: flex;
flex-direction: row;
}

.Recycle-flame {
  width: 140px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Recycle {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Jousyateiin-flame {
  width: 140px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Jousyateiin {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Sekisairyou-flame {
  width: 140px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Sekisairyou {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Cyuuijikou-flame {
  width: 426px;
  height: 150px;
  text-align: center;
  position: relative;
}

.ta-Cyuuijikou {
  width: 100%;
  height: 80%;
  font-size: 16px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.TourokuNo-flame {
  display: flex;
  width: 260px;
  height: 50px;
  position: relative;
}

.TourokuNo-box {
  width: 98%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 4;
  padding-left: 0px;
}

.ta-TourokuNo1 {
width: 44%;
height: 100%; 
font-size: 18px;
padding-left: 6px;
padding-right: 6px;
 
}

.ta-TourokuNo2 {
width: 19%;
height: 100%; 
font-size: 18px;
padding-left: 6px;
padding-right: 6px;
}

.ta-TourokuNo3 {
width: 15%;
height: 100%; 
font-size: 18px;
padding-left: 6px;
padding-right: 6px;
}

.ta-TourokuNo4 {
width: 20%;
height: 100%; 
font-size: 18px;
padding-left: 6px;
padding-right: 6px;
}

.bar {
width: 1px;
height: 80%;
background-color: black;
}

.SyadaiNo-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-SyadaiNo {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.SerialNo-flame {
  width: 120px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-SerialNo {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Nidainaisun-flame {
  display: flex;
  width: 320px;
  height: 50px;
  position: relative;
}

.Nidainaisun-box {
  width: 100%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.ta-Nidainaisun1 {
  width: 25%;
  height: 100%;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 2px;
}

.ta-Nidainaisun2 {
width: 25%;
height: 100%;
font-size: 18px;
margin-left: 8px;
margin-right: 2px;
}

.ta-Nidainaisun3 {
width: 25%;
height: 100%;
font-size: 18px;
margin-left: 8px;
margin-right: 2px;
}

.Syakensyoujou-flame {
  display: flex;
  width: 320px;
  height: 50px;
  position: relative;
}

.Syakensyoujou-box {
  width: 100%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.ta-Syakensyoujou1 {
  width: 20%;
  height: 100%;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 2px;
}

.ta-Syakensyoujou2 {
width: 20%;
height: 100%;
font-size: 18px;
margin-left: 8px;
margin-right: 2px;
}

.ta-Syakensyoujou3 {
width: 20%;
height: 100%;
font-size: 18px;
margin-left: 8px;
margin-right: 2px;
}

.KaiinNo-flame {
  display: flex;
  width: 150px;
  height: 50px;
  position: relative;
}

.KaiinNo-box {
  width: 100%;
  height: 55%;
  font-size: 25px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 0px;
}

.ta-KaiinNo {
  height: 100%;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 0px;
}

.ta-KaiinNo1 {
width: 15%;
}

.ta-KaiinNo2 {
width: 60%;
}

.KaiinNo-box span {
font-size: 18px;
}

.Syuppin-Tantou {
display: flex;
flex-direction: row;
}

.Syuppintenmei-flame {
  width: 280px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Syuppintenmei {
  width: 95%;
  height: 55%;
  font-size: 15px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.Tantousya-flame {
  width: 150px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Tantousya {
  width: 95%;
  height: 55%;
  font-size: 16px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 2;
  padding-left: 5px;
}

.Renrakusaki-flame {
  width: 140px;
  height: 50px;
  text-align: center;
  position: relative;
}

.ta-Renrakusaki {
  width: 100%;
  height: 55%;
  font-size: 18px;
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 10px;
}

.Kiboukakaku-flame {
  display: flex;
  width: 140px;
  height: 50px;
  position: relative;
}

.Kiboukakaku-box {
  width: 100%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 5px;
}

.ta-Kiboukakaku {
  width: 40%;
  height: 100%;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 2px;
}

.Startkakaku-flame {
  display: flex;
  width: 140px;
  height: 50px;
  position: relative;
}

.Startkakaku-box {
  width: 100%;
  height: 55%;
  font-size: 18px;
  vertical-align: bottom;
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 0;
  padding-left: 5px;
}

.ta-Startkakaku {
  width: 40%;
  height: 100%;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 2px;
}





/*inputted*/
.No-inputted {
  position: absolute;
  width: 66px;
  height: 74px;
  top: 58px;
  left: 41px;
}

.Syareki-inputted {
  position: absolute;
  width: 92px;
  height: 34px;
  top: 59px;
  left: 113px;
}

.Haikiryou-inputted {
  position: absolute;
  width: 86px;
  height: 34px;
  top: 59px;
  left: 205px;
}

.Katashiki-inputted {
  position: absolute;
  width: 129px;
  height: 34px;
  top: 59px;
  left: 291px;
}

.Syodo-inputted {
  position: absolute;
  width: 53px;
  height: 42px;
  top: 92px;
  left: 113px;
}

.Syamei-inputted {
  position: absolute;
  width: 94px;
  height: 42px;
  top: 92px;
  left: 166px;
}

.Keijou-inputted {
  position: absolute;
  width: 31px;
  height: 42px;
  top: 92px;
  left: 260px;
}

.Grade-inputted {
  position: absolute;
  width: 102px;
  height: 42px;
  top: 92px;
  left: 291px;
}

.twoWD-inputted {
  position: absolute;
  width: 27px;
  height: 21px;
  top: 92px;
  left: 393px;
}

.fourWD-inputted {
  position: absolute;
  width: 27px;
  height: 21px;
  top: 113px;
  left: 393px;
}

.Syaken-inputted {
  position: absolute;
  width: 185px;
  height: 20px;
  top: 139px;
  left: 41px;
}

.Soukou-inputted {
  position: absolute;
  width: 185px;
  height: 25px;
  top: 159px;
  left: 41px;
}

.Sotoiro-inputted {
  position: absolute;
  width: 126px;
  height: 27px;
  top: 184px;
  left: 41px;
}

/*.Gensyoku-inputted {
  position: absolute;
  width: 65px;
  height: 27px;
  top: 184px;
  left: 41px;
}

.Irogae-inputted {
  position: absolute;
  width: 61px;
  height: 27px;
  top: 184px;
  left: 106px;
}*/

.ColorNo-inputted {
  position: absolute;
  width: 59px;
  height: 27px;
  top: 184px;
  left: 167px;
}

.Nenryou-inputted {
  position: absolute;
  width: 134px;
  height: 21px;
  top: 211px;
  left: 41px;
}

.Naisousyoku-inputted {
  position: absolute;
  width: 51px;
  height: 21px;
  top: 211px;
  left: 175px;
}

.Nenshiki-inputted {
  position: absolute;
  width: 55px;
  height: 26px;
  top: 234px;
  left: 41px;
}

.Dealer-inputted {
  position: absolute;
  width: 52px;
  height: 26px;
  top: 234px;
  left: 96px;
}

.Heikou-inputted {
  position: absolute;
  width: 25px;
  height: 26px;
  top: 234px;
  left: 148px;
}

/*
.Yunyuukubun-inputted {
  position: absolute;
  width: 77px;
  height: 26px;
  top: 234px;
  left: 96px;
}
*/

/*
.Handle-inputted {
  position: absolute;
  width: 53px;
  height: 26px;
  top: 234px;
  left: 173px;
}*/

.Hidari-inputted {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 234px;
  left: 173px;
}

.Migi-inputted {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 234px;
  left: 199px;
}

.Shift-inputted {
  position: absolute;
  width: 101px;
  height: 26px;
  top: 139px;
  left: 231px;
}

.Reibou-inputted {
  position: absolute;
  width: 101px;
  height: 26px;
  top: 165px;
  left: 231px;
}

/*.Shinsyaseibitechou-inputted {
  position: absolute;
  width: 101px;
  height: 35px;
  top: 193px;
  left: 231px;
}*/

.Ari-inputted {
  position: absolute;
  width: 27px;
  height: 25px;
  top: 193px;
  left: 279px;
}

.Nashi-inputted {
  position: absolute;
  width: 26px;
  height: 25px;
  top: 193px;
  left: 306px;
}

.Meigihenkoukigen-inputted {
  position: absolute;
  width: 101px;
  height: 30px;
  top: 230px;
  left: 231px;
}

/*
.Junseihin-inputted {
  position: absolute;
  width: 153px;
  height: 29px;
  top: 139px;
  left: 336px;
}*/

.SR-inputted {
  position: absolute;
  width: 35px;
  height: 14px;
  top: 139px;
  left: 350px;
}

.JunAW-inputted {
  position: absolute;
  width: 35px;
  height: 14px;
  top: 139px;
  left: 385px;
}

.PS-inputted {
  position: absolute;
  width: 34px;
  height: 14px;
  top: 139px;
  left: 420px;
}

.PW-inputted {
  position: absolute;
  width: 35px;
  height: 14px;
  top: 139px;
  left: 454px;
}

.Kawa-inputted {
  position: absolute;
  width: 35px;
  height: 14px;
  top: 153px;
  left: 350px;
}

.TV-inputted {
  position: absolute;
  width: 35px;
  height: 14px;
  top: 153px;
  left: 385px;
}

.Navi-inputted {
  position: absolute;
  width: 34px;
  height: 14px;
  top: 153px;
  left: 420px;
}

.AirB-inputted {
  position: absolute;
  width: 35px;
  height: 14px;
  top: 153px;
  left: 454px;
}

.Sailspoint-inputted {
  position: absolute;
  width: 153px;
  height: 91px;
  top: 169px;
  left: 336px;
}

.Recycle-inputted {
  position: absolute;
  width: 107px;
  height: 22px;
  top: 261px;
  left: 41px;
}

.Jousyateiin-inputted {
  position: absolute;
  width: 61px;
  height: 22px;
  top: 261px;
  left: 148px;
}

.Sekisairyou-inputted {
  position: absolute;
  width: 62px;
  height: 22px;
  top: 261px;
  left: 209px;
}

.Cyuuijikou-inputted {
  position: absolute;
  width: 230px;
  height: 90px;
  top: 285px;
  left: 41px;
}

.TourokuNo1-inputted {
  position: absolute;
  width: 52px;
  height: 14px;
  top: 262px;
  left: 322px;
}

.TourokuNo2-inputted {
  position: absolute;
  width: 31px;
  height: 14px;
  top: 262px;
  left: 374px;
}

.TourokuNo3-inputted {
  position: absolute;
  width: 32px;
  height: 14px;
  top: 262px;
  left: 405px;
}

.TourokuNo4-inputted {
  position: absolute;
  width: 51px;
  height: 14px;
  top: 262px;
  left: 437px;
}

.SyadaiNo-inputted {
  position: absolute;
  width: 213px;
  height: 15px;
  top: 276px;
  left: 276px;
}

.SerialNo-inputted {
  position: absolute;
  width: 213px;
  height: 14.5px;
  top: 291px;
  left: 276px;
}

.Nidainaisun1-inputted {
  position: absolute;
  width: 93px;
  height: 15px;
  top: 535px;
  left: 21px;
}

.Nidainaisun2-inputted {
  position: absolute;
  width: 50px;
  height: 15px;
  top: 535px;
  left: 114px;
}

.Nidainaisun3-inputted {
  position: absolute;
  width: 70px;
  height: 15px;
  top: 535px;
  left: 164px;
}

.Syakensyoujou1-inputted {
  position: absolute;
  width: 71px;
  height: 17px;
  top: 550px;
  left: 21px;
}

.Syakensyoujou2-inputted {
  position: absolute;
  width: 71px;
  height: 17px;
  top: 550px;
  left: 92px;
}

.Syakensyoujou3-inputted {
  position: absolute;
  width: 71px;
  height: 17px;
  top: 550px;
  left: 163px;
}

.Kibousyuppin-inputted {
  position: absolute;
  width: 213px;
  height: 134px;
  top: 570px;
  left: 21px;
}

.KaiinNo-inputted {
  position: absolute;
  width: 249px;
  height: 24px;
  top: 581px;
  left: 239px;
}

.Syuppintenmei-inputted {
  position: absolute;
  width: 180px;
  height: 21px;
  top: 605px;
  left: 239px;
}

.Tantousya-inputted {
  position: absolute;
  width: 69px;
  height: 21px;
  top: 605px;
  left: 419px;
}

.Renrakusaki-inputted {
  position: absolute;
  width: 249px;
  height: 11px;
  top: 626px;
  left: 239px;
}

.Kiboukakaku-inputted {
  position: absolute;
  width: 249px;
  height: 33px;
  top: 637px;
  left: 239px;
}

.Startkakaku-inputted {
  position: absolute;
  width: 249px;
  height: 34px;
  top: 670px;
  left: 239px;
}






/*rb-2WD4WD*/
.rb-2WD4WD {
  width: 40px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  border: solid 1.5px;
}

.rb-2WD4WD label {
  width: 100%;
  height: 50%;
  font-size: 13px;
  line-height: 25px;
}

/*rb-Yunyuukubun*/
.rb-Yunyuukubun {
  width: 150px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  border: solid 1.5px;
}

.rb-Yunyuukubun span {
font-size: 15px;
width: 100%;
}

.rb-Yunyuukubun label {
width: 50%;
font-size: 15px;
line-height: 25px;
}

/*rb-Handle*/
.rb-Handle {
width: 100px;
height: 50px;
display: inline-block;
vertical-align: top;
display: flex;
flex-wrap: wrap;
border: solid 1.5px;
}

.rb-Handle span {
font-size: 15px;
width: 100%;
}

.rb-Handle label {
width: 50%;
font-size: 15px;
line-height: 25px;
}

/*rb-Shinsyaseibitechou*/
.rb-Shinsyaseibitechou {
width: 120px;
height: 50px;
display: inline-block;
vertical-align: top;
display: flex;
flex-wrap: wrap;
border: solid 1.5px;
}

.rb-Shinsyaseibitechou span {
font-size: 15px;
width: 100%;
}

.rb-Shinsyaseibitechou label {
width: 50%;
font-size: 15px;
line-height: 25px;
}

/*radiobutton*/
.radiobutton input[type='radio'] {
position: absolute;
z-index: -1;
opacity: 0;  
}

.radiobutton label::before {
position: absolute;
z-index: -1;
top: 0;
left: 0;
display: block;
/*width: 30px;
height: 15px;*/
content: ' ';
/*border: 2px solid #da3c41;*/
}

.radiobutton input[type='radio']:checked + label {
color: #ffffff;
}

.radiobutton input[type='radio']:checked + label::before {
top: 0;
width: 100%;
height: 100%;
background: #62b7d8;
}

.radiobutton label {
position: relative;
display: inline-block;
/*padding-right: 10px;
padding-left: 10px;*/
cursor: pointer;
  outline: solid 1px rgba(0,0,0,0.5);  
}

/*cb-Junseihin*/
.cb-Junseihin {
display: flex;
flex-wrap: wrap;
width: 200px;
height: 50px;
border: solid 1.5px;

}

.cb-Junseihin label {
  width: 25%;
  height: 50%;
  font-size: 14px;
  line-height: 25px;
}

/*checkbox*/
.checkbox input[type='checkbox'] {
position: absolute;
z-index: -1;
opacity: 0;
}

.checkbox label {
position: relative;
display: inline-block;
/*padding-right: 10px;
padding-left: 10px;*/
cursor: pointer;
outline: solid 1px rgba(0,0,0,0.5);  
}

.checkbox label::before {
position: absolute;
z-index: -1;
top: 0;
left: 0;
display: block;
/*width: 30px;
height: 15px;*/
content: ' ';
/*border: 2px solid #da3c41;*/
}

.checkbox input[type='checkbox']:checked + label {
color: #ffffff;
}

.checkbox input[type='checkbox']:checked + label::before {
top: 0;
width: 100%;
height: 100%;
background: #62b7d8;
}